.cartoon-bg {
  background: #f6e7d8;
  position: relative;
}

.cartoon-bg::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35%;
  background: #7ed957;
  border-top-left-radius: 100% 60%;
  border-top-right-radius: 100% 60%;
  z-index: 0;
}

.cartoon-card {
  max-width: 500px;
  border-radius: 25px;
  background: white;
  position: relative;
  z-index: 1;
}

.cartoon-title {
  font-weight: 800;
  color: #ff9f45;
}

.cartoon-task {
  border-radius: 20px;
  background: #fff3e6;
  transition: 0.2s;
}

.cartoon-task:hover {
  transform: scale(1.02);
}

.task-complete {
  background: #d4edda;
}

.cartoon-check {
  width: 24px;
  height: 24px;
  cursor: pointer;
  accent-color: #198754;
}
